{{#each project.list as |chunk|}}
  <div class="chunk" id="tab-{{inc @index}}">
    {{#each chunk as |api|}}

    <div class="api {{api.id}}">
      <div class="qrcode" data-path="apicms/{{api.id}}">

      </div>
      <div class="">
        <div class="api-tags">
          {{#each api.tags as |tag|}}
            <div class="tag" style="border: 2px solid {{getColorFromString tag}}">
              {{tag}}
            </div>
          {{/each}}
        </div>
        <a data-toggle="collapse" href="#{{../../project.id}}_{{api.id}}">
          <h3>{{api.name}}</h3>
        </a>
        {{#unless api.versions}}
          <span>This API has no versions yet.</span>
        {{/unless}}
        <div class="collapse" id="{{../../project.id}}_{{api.id}}">
          <ul class="nav nav-pills">
            {{#each api.versions as |version|}}
              <li class="{{#if (equals api.active_version version.version)}}active{{/if}}"><a data-toggle="tab" href="#{{../../project.id}}_{{api.id}}_{{version.version}}">{{api.name}} ->{{version.version}}</a></li>
            {{/each}}
            <div class="tab-content">
              {{#each api.versions as |version|}}
                <div id="{{../../project.id}}_{{api.id}}_{{version.version}}" class="tab-pane fade in {{#if (equals api.active_version version.version)}}active{{/if}}">

                  <div class="form-group">
                    <label for="comment">JSON:</label>
                    <textarea class="form-control" rows="5">{{version.json}}</textarea>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="" onchange="app.setActiveVersion(this)" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" {{#if (equals api.active_version version.version)}}
                        checked{{/if}}>Active </label> </div> <button type="button" class="btn btn-default delete-version" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.deleteVersion(this)">Delete
                      version</button>
                      <button type="button" class="btn btn-default save-json" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.saveJSON(this)">Save JSON</button>
                  </div>
              {{/each}}
            </div>
          </ul>
        </div>

        <br>
        <a class="active-link" href="/apicms/apis/{{../../project.id}}/{{api.id}}" target="_blank"><span class="glyphicon glyphicon glyphicon-link"></span> Go to API</a>
        <a class="active-link" href="#" role="button" data-remove="{{api.id}}" data-project="{{../../project.id}}" onclick="app.deleteAPI(this)"><span class="glyphicon glyphicon glyphicon-remove"></span> Delete API</a>
        <a class="active-link" href="#" role="button" data-id="{{api.id}}" data-name="{{api.name}}" data-project="{{../../project.id}}" onclick="app.addVersion(this)"><span class="glyphicon glyphicon glyphicon-plus"></span> Add version</a>
        <a class="active-link" href="#" role="button" data-project="{{../../project.id}}" data-query="{{api.query}}" data-id="{{api.id}}" data-old-name="{{api.name}}" data-tags="{{tagsToString api.tags}}" data-status="{{api.status}}" data-delay="{{api.delay}}" onclick="app.editAPI(this)"><span class="glyphicon glyphicon glyphicon-edit"></span>
          Edit API</a>

      </div>
    </div>

    <br>
    {{/each}}
  </div>
{{/each}}
