{{#each project.list as |chunk|}}
  <div class="chunk" id="tab-{{inc @index}}">
    {{#each chunk as |api|}}

    <div class="api {{api.id}}">
      <div class="qrcode" data-path="apicms/{{api.id}}">

      </div>
      <div class="">
        <div class="api-tags">
          {{#each api.tags as |tag|}}
            <div class="tag" style="border: 2px solid {{getColorFromString tag}}">
              {{tag}}
            </div>
          {{/each}}
        </div>
        <a data-toggle="collapse" href="#{{../../project.id}}_{{api.id}}">
          <h3>{{api.name}}</h3>
        </a>
        <p class="api-hash hash" id="hash_{{api.id}}"><b>  API ID: &nbsp</b><i>{{api.id}}</i></p>

        <button type="button" data-clipboard-text="{{api.id}}" class="btn btn-success copy-hash btn-xs" name="button"> <span class="glyphicon glyphicon-copy"></span> Copy hash to clipboard</button>
        {{#unless api.versions}}
          <span>This API has no versions yet.</span>
        {{/unless}}
        <div class="collapse" id="{{../../project.id}}_{{api.id}}">
          <hr />
          <ul class="nav nav-pills versions">
            {{#each api.versions as |version|}}
              <li class="{{#if (equals api.active_version version.version)}}active{{/if}} version"><a data-toggle="tab" href="#{{../../project.id}}_{{api.id}}_{{version.version}}">{{version.name}}</a></li>

            {{/each}}
            <div class="tab-content">
              {{#each api.versions as |version|}}

                <div id="{{../../project.id}}_{{api.id}}_{{version.version}}" class="tab-pane fade in {{#if (equals api.active_version version.version)}}active{{/if}}">

                  <div class="row text-right">
                    <button type="button" data-clipboard-text="{{version.json}}" class="btn btn-success copy-hash copy-version  btn-xs" name="button"> <span class="glyphicon glyphicon-copy"></span> Copy JSON to clipboard</button>
                  </div>
                  <div class="form-group">
                    <label for="comment">JSON:</label>
                    <textarea class="form-control" rows="5">{{version.json}}</textarea>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="" onchange="app.setActiveVersion(this)" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" {{#if (equals api.active_version version.version)}}
                        checked{{/if}}>Active </label> </div>

                      <button type="button" class="btn btn-primary btn-xs delete-version" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.deleteVersion(this)">Delete
                      version</button>

                      <button type="button" class="btn btn-primary btn-xs edit-version" data-qs="{{version.qs}}" data-version_name="{{version.name}}" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.editVersion(this)">Edit version</button>
                      <button type="button" class="btn btn-primary btn-xs save-json" data-project="{{../../project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.saveJSON(this)">Save JSON</button>

                  </div>
              {{/each}}
            </div>
          </ul>
        </div>

        <br>
