<style media="screen">


body,html{
  height: 100%;
}
.row{
  margin: 0;
}
ul.versions{
  margin-top: 50px;
}
.active-user {
  padding: 20px;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-left: 12px;
}
.progress {
height: 5px;
margin: 0;
}
.chunk{
  display: none;
}
.progress-bar {
background-image: none;
background-color: #5cb85c;
}

.project {
box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16), 0 0 0 5px rgba(0, 0, 0, 0.08);
padding: 20px 30px;
margin-bottom: 40px;
background-color: #fff;
}

.project>a {
text-transform: uppercase;
}

.apis {
padding-bottom: 20px;
margin-top: 20px;
}

.qrcode {
width: 64px;
float: left;
margin-right: 30px;
}

.tag {
border: 1px solid;
border-width: 1px;
padding: 3px;
border-radius: 3px;
font-size: 10px;
/* width: 64%; */
margin-right: 10px;
display: inline;
text-align: center;
}

.api-tags {
position: absolute;
right: 15px;
}

.api a {
display: inline-block;
}
.api .copy-version{
  margin-left: 20px;
}

.api .copy-hash{
  margin-left: 20px;
}
.api .copy-hash span{
  margin-left: 0px;
}
.hash{
  color: #a5b3b1;
}
.api .api-hash{
  display: flex;
  padding-left: 20px;

}

.api hr{
width: 100%;
}

.api span {
margin-left: 5px;
cursor: pointer;

}

.api {
position: relative;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
padding: 20px 30px;
}

.api h3 {
margin: 0;
padding: 10px 0;
margin-left: 20px;
}

.container {
padding-top: 50px;
padding-bottom: 150px;
}

h3 {
text-transform: uppercase;

}

h1 {
display: inline;
margin-right: 20px;
}

a:hover,
a:visited,
a:active,
a:focus {
text-decoration: none;
}

ul {
position: relative;
border: none !important;
}

.tab-pane {
margin-top: 70px;
}

.save-json,
.add-version,
.edit-version,
.delete-version {
float: right;
margin-left: 20px;
}

.add {
margin-bottom: 35px;
}

.active-link {
margin-right: 10px;
}

.nav-pills>li>a {
padding: 0 15px !important;
}

footer {
position: fixed;
z-index: 999;
bottom: 0px;
/* left: 30px; */
padding: 20px;
background: #fff;
width: 100%;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.active-user{
  padding: 20px;
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin-left: 12px;
}
.wrapper{
  margin: 60px auto;
  text-align: center;
}
h1{
  margin-bottom: 1.25em;
}
#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
}
#pagination-demo li{
  display: inline-block;
}

.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}
</style>
<div class="container">
  <span>Hi <b>{{user.name}} {{user.surname}}</b></span>
  <br />
  <a href="/logout" class="white">LOGOUT</a>
  <br />
  <br />
  <h1>API CMS</h1>
  {{#if (equals user.role "cmsSuperAdmin")}}
    <br />
    <br />
    <a class="active-link white" href="#" onclick="admin.addProject()"><span class="glyphicon glyphicon glyphicon-plus"></span> ADD PROJECT</a>
    <a class="active-link white" href="#" onclick="admin.addUser()"><span class="glyphicon glyphicon glyphicon-plus"></span> ADD USER</a>

  {{/if}}
  <br />
  <br />
  <!--<div class="filters">
    <div class="row">
      <div class="col-xs-6">
        <h4>Search by name:</h4>
        <div class="form-group">
        <input type="text" class="form-control search" data-search="name" placeholder="Search by name">
      </div>
      </div>
      <div class="col-xs-6">
        <h4>Search by TAG:</h4>
        <div class="form-group">
        <input type="text" class="form-control search" data-search="tag" placeholder="Search by TAG">
      </div>
      </div>
    </div>
  </div>-->
  <br />

  {{#each projects as |project|}}

    <div class="{{project.id}} project" data-chunks="{{project.list.length}}">
      <a href="#{{project.id}}" data-toggle="collapse">
        <h2>{{project.name}}</h2>
      </a>
      <p class="api-hash hash" id="hash_{{project.id}}"><b>  PROJECT ID: &nbsp</b><i>{{project.id}}</i></p>

      <i>{{project.description}}</i>
      <br />
      <br />
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{project.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{project.percentage}}%">
        </div>
      </div>
      <p class="progress-info">{{project.size}} MB / {{project.maxSize}} MB Used</p>
      <div class="apis collapse {{#if (equals ../projects.length 1)}}in{{/if}}" id="{{project.id}}">
        <div class="row">
        <div class="col-xs-12 col-md-4">
          <h4>Search by name:</h4>
          <div class="form-group">
          <input type="text" class="form-control search" data-search="name" placeholder="Search by name">
        </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Search by TAG:</h4>
          <div class="form-group">
          <input type="text" class="form-control search" data-search="tag" placeholder="Search by TAG">
        </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Search by HASH:</h4>
          <div class="form-group">
          <input type="text" class="form-control search" data-search="hash" placeholder="Search by HASH">
        </div>
      </div>
      </div>
      <br>
        {{#unless project.list}}
          <span>No APIS found. Create one by pressing "Add New".</span>
          {{else}}
          <div id="apis" data-project="{{project.id}}">
            {{#each project.list as |chunk|}}
              <div class="chunk" id="tab-{{inc @index}}">
                {{#each chunk as |api|}}

                <div class="api {{api.id}}">

                  <div class="qrcode" data-path="apicms/{{api.id}}">

                  </div>
                  <div class="">
                    <div class="api-tags">
                      {{#each api.tags as |tag|}}
                        <div class="tag" style="border: 2px solid {{getColorFromString tag}}">
                          {{tag}}
                        </div>
                      {{/each}}
                    </div>
                    <a data-toggle="collapse" href="#{{project.id}}_{{api.id}}">
                      <h3>
                        {{api.name}}
                        {{#if api.externalNewEdit}}
                          <span class="glyphicon glyphicon-question-sign" title="You may have one or more notifications for this API"></span>
                        {{/if}}
                      </h3>

                    </a>
                    <p class="api-hash hash" id="hash_{{api.id}}"><b>  API ID: &nbsp</b><i>{{api.id}}</i></p>

                    <button type="button" data-clipboard-text="{{api.id}}" class="btn btn-success copy-hash btn-xs" name="button"> <span class="glyphicon glyphicon-copy"></span> Copy hash to clipboard</button>
                    {{#unless api.versions}}
                      <span>This API has no versions yet.</span>
                    {{/unless}}
                    <div class="collapse" id="{{project.id}}_{{api.id}}">
                      <hr />
                      <ul class="nav nav-pills versions">
                        {{#each api.versions as |version|}}
                          <li class="{{#if (equals api.active_version version.version)}}active{{/if}} version">
                            <a data-toggle="tab" href="#{{project.id}}_{{api.id}}_{{version.version}}">
                              {{version.name}}
                              {{#if version.externalNewEdit}}
                                <span class="glyphicon glyphicon-question-sign" title="External JSON changed"></span>
                              {{/if}}
                              {{#if version.hasNewMessage}}
                                <span class="glyphicon glyphicon-envelope" title="New message for this API"></span>
                              {{/if}}
                            </a>
                          </li>

                        {{/each}}
                        <div class="tab-content">
                          {{#each api.versions as |version|}}

                            <div id="{{project.id}}_{{api.id}}_{{version.version}}" class="tab-pane fade in {{#if (equals api.active_version version.version)}}active{{/if}}">

                              <p class="api-hash hash" id="hash_{{version.version}}"><b>  VERSION ID: &nbsp</b><i>{{version.version}}</i></p>

                              <div class="row text-right">
                                <button type="button" data-clipboard-text="{{version.json}}" class="btn btn-success copy-hash copy-version  btn-xs" name="button"> <span class="glyphicon glyphicon-copy"></span> Copy JSON to clipboard</button>
                              </div>
                              <div class="form-group">
                                <label for="comment">JSON:</label>
                                <textarea class="form-control" rows="5">{{version.json}}</textarea>
                              </div>
                              <div class="checkbox">
                                <label><input type="checkbox" value="" onchange="app.setActiveVersion(this)" data-project="{{project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" {{#if (equals api.active_version version.version)}}
                                    checked{{/if}}>Active </label> </div>

                                  <button type="button" class="btn btn-primary btn-xs delete-version" data-project="{{project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.deleteVersion(this)">Delete
                                  version</button>

                                  <button type="button" class="btn btn-primary btn-xs edit-version" data-qs="{{version.qs}}" data-version_name="{{version.name}}" data-project="{{project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.editVersion(this)">Edit version</button>
                                  <button type="button" class="btn btn-primary btn-xs save-json" data-project="{{project.id}}" data-id="{{api.id}}" data-version="{{version.version}}" onclick="app.saveJSON(this)">Save JSON</button>
                                  <a class="btn btn-primary" href="/apicms/external-edit/{{project.id}}/{{api.id}}/{{version.externalEditHash}}">External edit</a>
                              </div>
                          {{/each}}
                        </div>
                      </ul>
                    </div>

                    <br>
                    <br />
                    {{#if api.query}}
                      <p class="hash"><b>  OVERWRITTEN BY FOLLOWING QUERY STRING: </b><i>{{toQueryString api.query}}</i></p>
                    {{/if}}
                    <hr />
                    <div class="">
                      <a class="active-link" href="/apicms/apis/{{project.id}}/{{api.id}}" target="_blank"><span class="glyphicon glyphicon glyphicon-link"></span> Go to API</a>
                      <a class="active-link" href="#" role="button" data-remove="{{api.id}}" data-project="{{project.id}}" onclick="app.deleteAPI(this)"><span class="glyphicon glyphicon glyphicon-remove"></span> Delete API</a>
                      <a class="active-link" href="#" role="button" data-id="{{api.id}}" data-name="{{api.name}}" data-project="{{project.id}}" onclick="app.addVersion(this)"><span class="glyphicon glyphicon glyphicon-plus"></span> Add version</a>
                      <a class="active-link" href="#" role="button" data-project="{{project.id}}" data-queryType="{{api.queryType}}" data-query="{{api.query}}" data-id="{{api.id}}" data-old-name="{{api.name}}" data-tags="{{tagsToString api.tags}}" data-status="{{api.status}}" data-delay="{{api.delay}}" onclick="app.editAPI(this)"><span class="glyphicon glyphicon glyphicon-edit"></span>
                        Edit API</a>
                    </div>

                  </div>
                </div>

                <br>
                {{/each}}
              </div>
            {{/each}}
          </div>
          <div id="search-apis">

          </div>
          <ul class="pagination"></ul>
        {{/unless}}
      </div>
      <br>
      <br>
      <a class="active-link" href="#" data-project="{{project.id}}" onclick="app.addApi(this)"><span class="glyphicon glyphicon glyphicon-plus"></span> Add API</a>
      {{#if (equals ../user.role "cmsSuperAdmin")}}
        <a class="active-link" href="#" data-id="{{project.id}}" onclick="admin.manageUsers(this)"><span class="glyphicon glyphicon glyphicon-edit"></span> Manage users</a>
      {{/if}}
    </div>
  {{/each}}
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="edit-api">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit API</h4>
        <div id="name">
          <h3></h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="api-name">API name</label>
          <input type="text" class="form-control name" name="name" placeholder="API name" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="form-group">
          <label for="tags">TAGS:</label>
          <input type="text" class="form-control tags" name="tags" placeholder="API name" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <label for="tags">DELAY(milliseconds):</label>
          <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control delay" name="delay" placeholder="Delay" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <label for="tags">HTTP status:</label>
          <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control status" name="status" placeholder="Status" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <label for="tags">Query params (BETA):</label>
          <input type="text" class="form-control query" name="query" placeholder="Query param" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <label for="tags">Query Type</label>
          <select class="form-control queryType" name="querytype" >
            <option value="dry" id="dry">
              Dry
            </option>
            <option value="partial" id="partial">
              Partial
            </option>
          </select>
        </div>
        <input type="hidden" class="form-control old-name" name="tags" placeholder="API name" aria-describedby="basic-addon1">

        <br>
        <span>*Please separate tags and query params with ";"</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="edit-api-confirm" class="btn btn-primary" onclick="app.editAPIConfirm(this)">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="add-api">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add API</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="api-name">API name</label>
          <input type="text" class="form-control" name="api-name" id="api-name" placeholder="API name" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-api-confirm" onclick="app.addApiConfirm(this)">Add</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="add-version">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Version for:</h4>
        <div id="version-api-name">
          <h3></h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="version-name">Version name</label>
          <input type="text" class="form-control" name="version-name" id="version-name" placeholder="Version name" aria-describedby="basic-addon1" required>
        </div>
        <br />
        <div class="form-group">
          <label for="comment">JSON:</label>
          <textarea class="form-control" rows="5" name="version-json" id="version-json">{{version.json}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="add-version-confirm" type="button" class="btn btn-primary" onclick="app.addVersionConfirm(this)">Add</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="edit-version">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit version</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="edit-version-name">Version name</label>
          <input type="text" class="form-control" name="edit-version-name" id="edit-version-name" placeholder="Version name" aria-describedby="basic-addon1" required>
        </div>
        <br />
        <div class="input-group">
          <label for="edit-version-qs">Version query string values</label>
          <input type="text" class="form-control" name="edit-version-qs" id="edit-version-qs" placeholder="Version query string" aria-describedby="basic-addon1" required>
        </div>

        <br />
        <br />
        *Separate query string values with "_"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="edit-version-confirm" type="button" class="btn btn-primary" onclick="app.editVersionConfirm(this)">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" tabindex="-1" role="dialog" id="delete-api">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete API</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this API?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary delete" onclick="app.deleteAPIConfirm()">DELETE</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="delete-version">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Version</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this API Version?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary delete" onclick="app.deleteVersionConfirm(this)">DELETE</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="add-user">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="api-name" id="email" placeholder="mail" aria-describedby="basic-addon1" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-user-confirm" onclick="admin.addUserConfirm(this)">Add</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="add-project">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Project</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="project-name">Project name</label>
          <input type="text" class="form-control" name="project-name" id="project-name" placeholder="Project name" aria-describedby="basic-addon1" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-user-confirm" onclick="admin.addProjectConfirm(this)">Add</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="manage-users">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Manage Users</h4>
      </div>
      <div class="modal-body">
        <div id="search-and-add">
          <label for="project-name">Search and add</label>
          <input type="text" class="form-control search-users" name="search-user-email" id="search-user-email" placeholder="Search and add" aria-describedby="basic-addon1">
        </div>
        <br>
        <div id="search-users">

        </div>
        <br>
        <hr>
        <div id="active-users">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-user-confirm" onclick="admin.addProjectConfirm(this)">Add</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<footer> Copyrights © 2019 All rights reserved. Andrei Catalin Zoitanu</footer>

<script type="text/javascript" src="/jquery/jquery.qrcode.js" defer></script>
<script type="text/javascript" src="/handlebars/handlebars.js" defer></script>
<script type="text/javascript" src="/jquery/pagination.js" defer></script>
<script type="text/javascript" src="/js/cmsAdmin/main.js" defer></script>
<script type="text/javascript" src="/frameworks/clipboard.min.js" defer></script>
{{#if (equals user.role "cmsSuperAdmin")}}
  <script type="text/javascript" src="/js/cmsAdmin/admin.js" defer></script>
{{/if}}
